* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
section {
  margin-bottom: 70px;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #1d1d1d;
  font-family: Verdana;
}
li {
  list-style: none;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
