@mixin measure {
  width: 80%;
  padding: 30px 30px;
}
.adminMain {
  .admin-head {
    display: flex;
    .statistic {
      @include measure;
      display: flex;
      .pie-chart {
        width: 30%;
        h3 {
          text-align: center;
        }
      }
      .bar-chart {
        width: 70%;
      }
    }
    .analytics {
      @include measure;
    }
    .users {
      @include measure;
    }
    .wines {
      width: 85%;
      padding: 30px 30px;
    }
    .addProduct {
      @include measure;
    }
  }
}
