.footer {
  .footer-head {
    width: 100%;
    display: flex;
    align-items: center;
    .footer-head-logo {
      width: 3%;
      height: 100%;
      margin-right: 20px;
    }
    .footer-head-links {
      width: 85%;
      .footer-links {
        display: flex;
        flex-wrap: wrap;
        li {
          font-size: 12px;
          line-height: 16px;
          font-weight: 400;
          margin-bottom: 8px;
          margin-right: 35px;
        }
      }
    }
    .footer-head-networks {
      display: flex;
      width: 15%;
      position: relative;
      svg {
        font-size: 25px;
        margin-left: 15px;
      }
      span {
        position: absolute;
        bottom: -16px;
        right: 44px;
        font-size: 10px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .footer {
    .footer-head {
      display: flex;
      flex-direction: column;
      .footer-head-links {
        .footer-links {
          justify-content: space-between;
        }
      }
      .footer-head-networks {
        display: flex;
        width: 100%;
        position: relative;
        margin-top: 20px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    .footer-head {
      display: flex;
      flex-direction: column;
      .footer-head-logo {
        width: 6%;
        margin-bottom: 10px;
      }
      .footer-head-links {
        .footer-links {
          justify-content: space-between;
        }
      }
      .footer-head-networks {
        display: flex;
        width: 100%;
        position: relative;
        margin-top: 20px;
      }
    }
  }
}
