@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
.commentBlog {
  min-height: 100vh;
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  padding: 1rem;
  color: #585757;
}
.block {
  background: #fff;
  width: 504px;
  padding: 1rem;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  display: block;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .tag {
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        margin-left: 10px;
      }
    }
  }
}

.comment {
  display: grid;
  gap: 14px;
  .user-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .user {
      gap: 8px;
      align-items: center;
      display: flex;
      .avatar {
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid transparent;
        position: relative;
        border-radius: 100px;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        img {
          max-width: 100%;
          border-radius: 50%;
        }
        .stat {
          display: flex;
          position: absolute;
          right: -2px;
          bottom: -2px;
          display: block;
          width: 12px;
          height: 12px;
          z-index: 9;
          border: 2px solid #ffffff;
          border-radius: 100px;
          &.green {
            background: #00ba34;
          }
          &.grey {
            background: #969696;
          }
        }
      }
    }
  }
  .footer {
    gap: 12px;
    display: flex;
    align-items: center;
    .reactions {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    .divider {
      height: 12px;
      width: 1px;
      background: #e8e8e8;
    }
  }
  &:not(.comment:first-child) {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #e8e8e8;
  }
  & + & {
    padding-top: 12px;
  }
  &.reply {
    .user-banner,
    .content,
    .footer {
      margin-left: 32px;
    }
  }
}

h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #1c1c1c;
  letter-spacing: 0em;
  text-align: left;
}
h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #1c1c1c;
}
* {
  box-sizing: border-box;
}
.load {
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #969696;
    i {
      margin-right: 6px;
    }
  }
}
.group-button {
  display: flex;
  gap: 16px;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .like-reply {
    display: flex;
    align-items: center;
    text-transform: none;
    border-radius: 24px;
    border: 1px solid #eae0da;
    padding: 8px;
    margin-left: 5px;
    cursor: pointer;
    span {
      margin-left: 4px;
    }
  }
  p {
    margin: 0;
    padding: 0;
  }
}
.replyBtn {
  display: flex;
  align-items: center;
  .comment-blog-person-comment {
    display: flex;
    align-items: center;
    text-transform: none;
    border-radius: 24px;
    border: 1px solid #eae0da;
    padding: 8px;
    margin-left: 5px;
    cursor: pointer;
  }
}
.icon{
  font-size:20px;
}
