.dashboard {
  padding: 30px 30px;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  width: 20%;
  height: 1000vh;
  .img {
    margin-bottom: 20px;
    background-color: white;
    padding: 15px;
    svg {
      width: 100px;
    }
  }
  .links {
    ul {
      li {
        margin-bottom: 15px;
        a {
          display: flex;
          align-items: center;
          color: white;
          span {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
.links ul li.active svg {
  color: black; /* SVG ikonun rengi */
}

.links ul li.active span {
  color: black; /* Span içeriğinin rengi */
}
